<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Семинары</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div layout:fragment="header">
    <div th:insert="blocks/header :: header"></div>
</div>

<div layout:fragment="main-content">
    <div class="container">
        <h2>
            <span class="material-icons">report_problem</span>
            Sorry, page not found :(
        </h2>
    </div>
</div>



</body>

</html>